<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Bem vindo ao sistema!</title>


<link th:href="@{/resources/css/estilo_cad.css}" rel="stylesheet" />
</head>

<body style="background-color: #f9f9f9">

	<div layout:fragment="content">
		<div class="row container">
			<div class="white col s12 z-depth-3">
				<div class="section">
					<h5>Cadastro de Equipe</h5>
				</div>
				<div class="divider"></div>
				<form id="formEquipe" class="col s12" name="formEquipe">
					<div class="row">
						<div class="input-field col s12 m12 l5">
							<input id="nomeIpt" name="nome" type="text" class="validate"
								required="required" /> <label for="nome">Nome da Equipe</label>
						</div>
						<div class="input-field col s12 m12 l5">
							<input id="descIpt" name="descricao" type="text" class="validate"
								required="required" /> <label for="descricao">Descrição</label>
						</div>
						<div class="col s12 m12 l2 valinhado center-align">
							<button class="btn blue waves-effect waves-ligt">Salvar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="white col s12 z-depth-3">
				<div class="section">
					<h5>Listagem de Equipes</h5>
				</div>
				<div class="divider"></div>
				<table class="striped centered" id="tabelaPadrao">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Opções</th>
						</tr>
					<thead>
					<tbody>
					</tbody>
				</table>
				<div class="col s12 center-align footer-tabela">
					<span id="itemBtn"></span>
				</div>
			</div>
		</div>

		<div id="modalExclusao" class="modal">
			<div class="modal-content">
				<h4>Confirma Exlusão?</h4>
				<p>
					Deseja realmente excluir a equipe de <span id="nomeEquipe"></span>
				</p>
			</div>
			<div class="modal-footer">
				<a id="cancelaExclusao"
					class="modal-action modal-close waves-effect waves-ligt btn-flat cancela-exclusao">Não</a>
				<a id="confirmaExclusao" data-id="0"
					class="modal-action modal-close waves-effect waves-ligt btn-flat confirma-exclusao">Sim</a>
			</div>
		</div>

		<div id="modalEdicao" class="modal"> centered
			<div class="modal-content">
				<h4>Editar Equipe</h4>
				<div class="divider"></div>
				<form id="formEquipeEdt" class="col s12" action="/ws/equipe/"
					method="POST" name="formEquipe">
					<div class="row">
						<div class="input-field col s12 m12 l5">
							<input id="nomeEdt" name="nomeEdicao" type="text"
								class="validate" required="required" /> <label for="nomeEdicao"
								class="active">Nome da Equipe</label>
						</div>
						<div class="input-field col s12 m12 l5">
							<input id="descEdt" name="descricaoEdicao" type="text"
								class="validate" required="required" /> <label for="descricao"
								class="active">Descrição</label>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a id="cancelaEdicao"
					class="modal-action modal-close waves-effect waves-ligt btn-flat cancela-edicao">Cancelar</a>
				<a id="confirmaEdicao" data-id="0"
					class="waves-effect modal-close waves-ligt btn-flat confirma-edicao">Salvar</a>
			</div>
		</div>

		<div id="modalView" class="modal">
			<div class="modal-content">
				<h4>
					<span id="nomeEquipeView"></span>
				</h4>
				<div class="divider"></div>
				<div class="row">
					<h5>Descrição:</h5>
					<p>
						<span id="descView"></span>
					</p>
				</div>

				<div class="row lista-modal">
					<ul class="collapsible collapsible-accordion">
						<li><a class="collapsible-header black-text">Usuarios<i
								class="material-icons">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<table class="bordered centered" id="tableUsuarios">
									<tbody>

									</tbody>
								</table>
							</div></li>
					</ul>
				</div>
				<div class="row lista-modal">
					<ul class="collapsible collapsible-accordion">
						<li><a class="collapsible-header  black-text">Projetos<i
								class="material-icons">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<table class="bordered centered" id="tableProjetos">
									<tbody>

									</tbody>
								</table>
							</div></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="modalErro" class="modal">
			<div class="modal-content">
				<h4>
					Não foi possível completar a <span id="tipoAcao"></span>
				</h4>
				<span id="msgAcao"></span>
			</div>
			<div class="modal-footer">
				<a class="modal-action modal-close waves-effect waves-ligt btn-flat">OK</a>
			</div>
		</div>

		<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/resources/js/cadastro/generic.js}"></script>
		<script th:src="@{/resources/js/cadastro/equipe.js}"></script>
	</div>

</body>
</html>