<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Spring Security</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link th:href="@{/resources/css/materialize.css}" rel="stylesheet" />
<link th:href="@{/resources/css/materialize.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/estilo_layout.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

</head>

<body>
	<nav class="blue darken-4 z-depth-2">
		<div class="nav-wrapper">
			<ul class="left">
				<li><a data-activates="slide-out" class="button-sideNav"><i class="material-icons">menu</i></a></li>
			</ul>
			<a class="brand-logo center" th:href="@{/}"> <img
				class="responsive-img" th:src="@{/resources/images/logo_peq.png}" />
			</a>
			<ul class="right">
				<li><a th:href="@{/logout}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sair">
				<i class="material-icons">exit_to_app</i>
				</a></li>
			</ul>	
		</div>
	</nav>

	<div class="main">
		<div layout:fragment="content" class="content">O conteúdo das
			páginas filhas aparecerão aqui.</div>
	</div>


	<ul id="slide-out" class="side-nav">
		<li><div class="user-view">
			<div class="background">
				<img th:src="@{/resources/images/icone_maximus_gestao.jpg}"/>
			</div>
			<a th:href="@{/usuario}"><img class="circle" th:src="${usuario.imgPerfil}"/></a>
			<a><span class="white-text name" th:text="${usuario.nome}"></span></a>
			<a><span class="white-text email" th:text="${usuario.email}"></span></a>
		</div>
		</li>
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Cadastro<i class="material-icons">arrow_drop_down</i><i class="material-icons right">add</i></a>
            <div class="collapsible-body">
              <ul>
              	<li><a th:href="@{/cadastro/projeto}">Projeto<i class="material-icons right">library_add</i></a></li>
                <li><a href="#!">Nova Tarefa<i class="material-icons right">note_add</i></a></li>
                <li><a th:href="@{/cadastro/equipe}">Equipe<i class="material-icons right">group_add</i></a></li>
                <li><a href="#!">Usuario<i class="material-icons right">account_box</i></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      
	</ul>


	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-ligt teal accent-4 z-depth-5"> <i
			class="large material-icons">add</i>
		</a>
		<ul>
			<li><a class="btn-floating red waves-effect waves-light modal-trigger">
				<i class="material-icons">library_add</i>
			</a></li>
			<li><a class="btn-floating blue"><i class="material-icons">note_add</i></a></li>
		</ul>
	</div>
	<script th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/resources/js/script.js}"></script>
	<script th:src="@{/resources/js/materialize.min.js}"></script>
</body>
</html>